.bgOpacity::before {
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: linear-gradient(90deg,rgba(0,0,0,.7) 15%,rgba(0,0,0,.63) 43%,rgba(0,0,0,0) 68%);
    transition: .5s ease;
}